.page-header
  .container
    .row
      .col-sm-8.col-xs-12
        %h1
          Datasets
      .col-sm-4.col-xs-12
        = link_to 'Define new Dataset', new_dataset_path,
          class: 'btn btn-default'

